@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #171717;
  font-family: var(--font-fredoka), sans-serif;
}

html, body {
  overscroll-behavior: contain;
}

.main-content {
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(black, black);
  -webkit-mask-image: linear-gradient(black, black);
}
